.logbody {
    background-image: url(./loginbg.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 10px;
    font-family: 'Arial', sans-serif;
    padding-left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    width: 40%;
    max-width: 400px;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    text-align: center;
    box-shadow:
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.04),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.026),
    100px 100px 80px rgba(0, 0, 0, 0.013);
    background: linear-gradient(45deg, #52baff, #0b1984);
    transition: border-color 0.3s ease-in-out;
}

h2 {
    color: #333;
    padding-bottom: 10%;
    font-size: 36px;
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 25px;
}

.label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    color: #34495e;
    text-align: left;
    transition: color 0.3s ease-in-out;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

label:hover {
    color: #091624;
}

label::after {
    content: '*';
    color: #e74c3c;
    margin-left: 4px;
}

label.required::after {
    content: '*';
    color: #e74c3c;
    margin-left: 4px;
}

input {
    width: 94%;
    height: 25px;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    color: #555;
    background-color: rgba(255, 255, 255, 0.9);
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

input:focus {
    outline: none;
    border-color: rgba(52, 152, 219, 0.8);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 8px rgba(50, 115, 220, 0.5);
}

input::placeholder {
    color: #5e636381;
    font-style: italic;
}

.input-container + input {
    margin-top: 20px;
}

.button-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button.log,
button.sign {
    margin-right: 10px;
    height: 40px;
    width: 45%;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button.sign:hover,
button.log:hover {
    background-color: #ffffff;
    color: #1a1aa4;
    box-shadow: 0 0 8px rgba(50, 115, 220, 0.5);
}

button.log:hover {
    color: #000000;
}

button.disabled {
    background-color: #f75c5c;
    border-color: #ff2600;
    cursor: not-allowed;
}
